body{
  background-image: url("../images/background1.jpg");
}

h2 {
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin: -25px -50px 25px -50px;
    background: #299dbf;
}

.time-left {
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	padding: 30px;
	width:200px;
	background: #a7eaf1;
	font-size: 20px;
	border-radius: 50%;
	border: 30px solid #299dbf;
	font-family: Impact, Charcoal, sans-serif;
}

.form {
	display: none;
}

.quiz-form {	
	background-color: #a7eaf1;
	padding: 25px 50px;
	line-height: 25px;
	font-size: 15px;
}
.question {
	font-weight: 500;
}

.score {
	font-weight: 500;
	font-size: 25px;	
	font-family: Impact, Charcoal, sans-serif;
}

#start {
    background-color: #6eb615;
    color: white;
    display: block;
    height: 40px;
    line-height: 40px;
}


#start:hover {
	background-color: #299dbf;
	box-shadow:0px 0px 5px #6eb615;
}

.quiz-form, img { 
	margin-top: 20px; 
	margin-bottom: 20px;
}